<!-- HEADER -->
<ion-header alt='header'>
  <ion-toolbar>
    <ion-row class="vertical-center">
      <ion-col size="6">
        <img src="../../../assets/DuocEncabezado.png" alt="LogoDuoc">
      </ion-col>
    </ion-row>
    <ion-col class="ion-text-center" style="width: 60%;">
      <ion-title class="animated-title">
        <h1 class="texto-blanco">Sistema de Asistencia</h1>
      </ion-title>
    </ion-col>    
  </ion-toolbar>
</ion-header>


<!-- CONTENIDO -->
<ion-content class="fondo">
  <br>
  <div class="ion-text-center ">
    <ion-card color="light" class="ion-card-centered div-transparente">
      <h2 class="texto-blanco">Recuperar Contraseña</h2>
      <h3 class="texto-blanco">Paso 2: Responde la pregunta</h3>
      <div class="ion-card-centered" style="width: 100%;">
        <h3 class="texto-blanco">{{ usuario.nombre }} {{ usuario.apellido }}</h3>
        <h3 class="texto-blanco">{{ usuario.correo }} </h3>
        <br>
        <h3 class="texto-blanco">{{ usuario.preguntaSecreta }}: </h3>
        <ion-item>
          <ion-input [(ngModel)]="userRespuestaSecreta" type="text" label="Escribe tu respuesta" style="width: 100%;"
            labelPlacement="floating"></ion-input>
        </ion-item>
        <br>
        <ion-button (click)="verificarPreguntaSecreta()">Recuperar Contraseña</ion-button>
      </div>
    </ion-card>
  </div>
  <br>
  <br>
  <div class="ion-card-centered" style="width: 50%;">
    <ion-button class="vertical-center" (click)="irIniciarSesion()">Iniciar Sesion</ion-button>
  </div>
</ion-content>

<!-- FOOTER -->
<ion-footer>
  <ion-toolbar color="light">
    <ion-title class="ion-text-center">
      Grupo 4 - Sección 001D
    </ion-title>
  </ion-toolbar>
</ion-footer>