<!-- HEADER -->
<ion-header alt='header'>
  <ion-toolbar>
    <ion-row class="ion-align-items-center">
      <ion-col size="5" class="ion-text-center">
        <img src="../../../assets/DuocEncabezado.png" alt="LogoDuoc" class="logo">
      </ion-col>
      <ion-col size="7" class="ion-text-center">
        <ion-title class="animated-title">
          <h1 class="title texto-blanco">Sistema de Asistencia</h1>
        </ion-title>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<!-- CONTENIDO -->
<ion-content>
  
<!-- PESTAÑAS  -->
<div class="custom-tabs">
  <a routerLink="/inicio">
    <ion-icon name="home"></ion-icon>
    <span>Inicio</span>
  </a>
  <a routerLink="/clase">
    <ion-icon name="analytics"></ion-icon>
    <span>Mi Clase</span>
  </a>
</div>

  <div class="ion-text-center" style="display: flex; justify-content: center;">
    <div style="width: 60%;">
      <h1 class="texto-blanco"> ¡Bienvenid@!</h1>
      <h2 class="texto-blanco"> {{ usuario.nombre }}</h2>
      <h5 class="texto-blanco">Escanea el código QR para registrar tu contenido en clases: </h5>
      <br>
      <br>
      <ion-button *ngIf="!escaneando" (click)="comenzarEscaneoQR()" expand="full" shape="round">
        Comenzar escaneo de QR ▣ 
      </ion-button>

      <ion-button *ngIf="escaneando" (click)="detenerEscaneoQR()" expand="full" shape="round">
        Detener escaneo de QR ▣ 
      </ion-button>
      <br>
      <br>
      <video #video [hidden]="!escaneando" width="80%"></video>
      <canvas #canvas hidden></canvas>
      <br>
      <br>
      
      <div class="ion-card-centered" style="width: 100%;">
        <ion-button class="vertical-center" routerLink="/ingreso" expand="full" shape="round">
          Cerrar Sesión
        </ion-button>
      </div>
    
    </div>
  </div>
</ion-content>

<!-- FOOTER -->
<ion-footer>
  <ion-toolbar color="light">
    <ion-title class="ion-text-center">
      Grupo 4 - Sección 001D
    </ion-title>
  </ion-toolbar>
</ion-footer>