<!-- HEADER -->
<ion-header alt='header'>
  <ion-toolbar>
    <ion-row class="ion-align-items-center">
      <ion-col size="5" class="ion-text-center">
        <img src="../../../assets/DuocEncabezado.png" alt="LogoDuoc" class="logo">
      </ion-col>
      <ion-col size="7" class="ion-text-center">
        <ion-title class="animated-title">
          <h1 class="title texto-blanco">Sistema de Asistencia</h1>
        </ion-title>
      </ion-col>
    </ion-row>

    <ion-segment [(ngModel)]="componente_actual" (ngModelChange)="cambiarComponente($event)">
      <ion-segment-button *ngIf="!esAdmin" value="qr">
        <ion-label>QR</ion-label>
      </ion-segment-button>
      <ion-segment-button *ngIf="!esAdmin" value="miclase">
        <ion-label>Mi clase</ion-label>
      </ion-segment-button>
      <ion-segment-button value="foro">
        <ion-label>Foro</ion-label>
      </ion-segment-button>
      <ion-segment-button value="misdatos" id="misDatos">
        <ion-label>Mis datos</ion-label>
      </ion-segment-button>
      <ion-segment-button *ngIf="esAdmin" value="admin">
        <ion-label>Administración</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>

<!-- CONTENIDO -->
<ion-content>
  <app-qr [hidden]="esAdmin || componente_actual !== 'qr'" (qrCapturado)="cambiarComponente('miclase')"></app-qr>
  <app-miclase [hidden]="esAdmin || componente_actual !== 'miclase'"></app-miclase>
  <app-foro [hidden]="componente_actual !== 'foro'"></app-foro>
  <app-misdatos [hidden]="componente_actual !== 'misdatos'"></app-misdatos>
  <app-admin *ngIf="esAdmin" [hidden]="componente_actual !== 'admin'"></app-admin>

</ion-content>



<!-- FOOTER -->
<ion-footer>
  <ion-toolbar>
    <ion-button class="" (click)="salir()" expand="block" fill="clear" shape="round" id="Cerrar Sesión">
      Cerrar Sesión
    </ion-button>
  </ion-toolbar>
</ion-footer>