ion-content {
  --background: url('../../../assets/QR.jpeg') no-repeat center center;
  background-size: cover; /* Ajustar la imagen al tamaño del componente */
  /* Agregar otros estilos según tus necesidades */
}

ion-header {
  --ion-background-color: rgb(00, 51, 102);
}

.texto-blanco {
  color: white
}

ion-segment-button {
  color: white;
}


ion-label{
  font-size: 9px;

}

//ANIMACIÓN TITULO

.animated-title {
  overflow: hidden;
  position: relative;
}

.animated-title h1 {
  display: inline-block;
  font-size: 18px;

  white-space: nowrap;
  animation: scroll-infinite 12s linear infinite; /* Ajusta la duración según tus preferencias */
}

@keyframes scroll-infinite {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
