.marco {
  padding: 16px;
}

.centrar-boton {
  text-align: center;
}

.ion-card-centered {
  margin: 0 auto;
  /* Esto centrará horizontalmente el ion-card */
  /* Ajusta el ancho según tus preferencias */
}

.texto-blanco {
  color: white
}

.div-formulario {
  background-color: #000000; /* Color de fondo */
  opacity: 0.7; /* Valor de opacidad (0.0 a 1.0) */
}
