.alinear-centro {
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
}

.alinear-derecha {
  text-align: right;
  padding-right: 15px;
  padding-bottom: 15px;
}

.ion-card-centered {
  margin: 0 auto;
  /* Esto centrará horizontalmente el ion-card */
  width: 60%;
  /* Ajusta el ancho según tus preferencias */
}

.texto-blanco {
  color: white
}


.ion-card-transparente {
  background-color: rgba(0, 0, 0, 0.7); /* Color de fondo con transparencia */
  color: #ffffff; /* Color del texto, ajusta según sea necesario */
  /* Agrega otros estilos según tus necesidades */
}


ion-card-title{
  font-size: 18px;
}

ion-input{
  font-size: 14px;
}


ion-textarea{
  font-size: 14px;
}


ion-card-content{
  font-size: 14px;
}