<!-- HEADER -->
<ion-header alt='header'>
  <ion-toolbar>
    <ion-row class="vertical-center">
      <ion-col size="5">
        <img src="../../../assets/DuocEncabezado.png" alt="LogoDuoc">
      </ion-col>
    </ion-row>
    <ion-col class="ion-text-center">
      <ion-title>
        <h3 class="texto-blanco">Sistema de Asistencia</h3>
      </ion-title>
    </ion-col>
  </ion-toolbar>
</ion-header>

<!-- CONTENIDO -->
<ion-content class="fondo">
  <br>
  <div class="ion-text-center">
    <ion-card class="ion-card-centered div-transparente">
      <h2 class="texto-blanco">Recuperar Contraseña:</h2>
      <br>
      <h3 class="texto-blanco">Lo sentimos, pero los datos ingresados no son los correctos</h3>
      <h3 class="texto-blanco">Intentelo denuevo</h3>
      <br><br><br>
      <div>
        <ion-button class="vertical-center" routerLink="/ingreso">Iniciar Sesion</ion-button>
      </div>
      <br>
    </ion-card>
  </div>
  <br>
  <br>

</ion-content>

<!-- FOOTER -->
<ion-footer>
  <ion-toolbar color="light">
    <ion-title class="ion-text-center">
      Grupo 4 - Sección 001D
    </ion-title>
  </ion-toolbar>
</ion-footer>