<!-- HEADER -->
<ion-header alt='header'>
  <ion-toolbar>
    <ion-row class="vertical-center">
      <ion-col size="6">
        <img src="../../../assets/DuocEncabezado.png" alt="LogoDuoc">
      </ion-col>
    </ion-row>
    <ion-col class="ion-text-center" style="width: 60%;">
      <ion-title class="animated-title">
        <h1 class="texto-blanco">Sistema de Asistencia</h1>
      </ion-title>
    </ion-col>    
  </ion-toolbar>
</ion-header>

<!-- CONTENIDO -->
<ion-content class="fondo">
  <br>
  <div class="ion-text-center">
    <ion-card class="ion-card-centered div-transparente">
      <h2 class="texto-blanco">Recuperar Contraseña</h2>
      <h3 class="texto-blanco">Paso 1: Ingresa tu correo</h3>
      <br>
      <div class="ion-card-centered" style="width: 100%;">
        <ion-item>
          <ion-input [(ngModel)]="userEmail" type="text" placeholder="aa.bb@duocuc.cl" label="Correo" labelPlacement="floating"></ion-input>

        </ion-item>
        <br><br><br>
        <ion-button class="vertical-center" (click)="verificarCorreo()">Siguiente Paso</ion-button>
      </div>
      <br>
    </ion-card>
  </div>
  <br>
  <br>
  <div class="ion-card-centered" style="width: 50%;">
    <ion-button class="vertical-center" (click)="irIniciarSesion()">Iniciar Sesion</ion-button>
  </div>
</ion-content>

<!-- FOOTER -->
<ion-footer>
  <ion-toolbar color="light">
    <ion-title class="ion-text-center">
      Grupo 4 - Sección 001D
    </ion-title>
  </ion-toolbar>
</ion-footer>