<!-- HEADER -->
<ion-header alt='header'>
  <ion-toolbar>
    <ion-row class="vertical-center">
      <ion-col size="5">
        <img src="../../../assets/DuocEncabezado.png" alt="LogoDuoc">
      </ion-col>
    </ion-row>
    <ion-col class="ion-text-center">
      <ion-title>
        <h3 class="texto-blanco">Sistema de Asistencia</h3>
      </ion-title>
    </ion-col>
  </ion-toolbar>
</ion-header>

<!-- CONTENIDO -->
<ion-content class="fondo">
  <br>
  <div class="ion-text-center">
    <ion-card class="ion-card-centered div-transparente">
      <h2 class="texto-blanco">Recuperar Contraseña</h2>
      <h3 class="texto-blanco">Paso 1: Ingresa tu correo</h3>
      <br>
      <div class="ion-card-centered" style="width: 80%;">
        <ion-item>
          <ion-label position="floating">Correo</ion-label>
          <ion-input [(ngModel)]="userEmail" type="text" placeholder="nombre.apellido@profesor.duoc.cl"></ion-input>
        </ion-item>
        <br>
        <ion-button class="vertical-center" (click)="verificarCorreo()">Siguiente Paso</ion-button>
      </div>
      <br>
    </ion-card>
  </div>
  <br>
  <br>
  <div class="ion-card-centered" style="width: 50%;">
    <ion-button class="vertical-center" routerLink="/ingreso">Iniciar Sesion</ion-button>
  </div>
</ion-content>

<!-- FOOTER -->
<ion-footer>
  <ion-toolbar color="light">
    <ion-title class="ion-text-center">
      Grupo 4 - Sección 001D
    </ion-title>
  </ion-toolbar>
</ion-footer>